<!doctype html>
<html lang="en" ng-app="sample">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOWER_COMPONENTS_CSS_START-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <!--BOWER_COMPONENTS_CSS_END-->
    <!--CUSTOM_CSS_START-->
    <link rel="stylesheet" href="/app/app.css"/>
    <!--CUSTOM_CSS_END-->
</head>
<body>

<div ng-controller="MyCtrl as ctrl" class="ng-cloak">

    <p ng-show="ctrl.showMe">1. Hello World!!</p>

    <p ng-hide="ctrl.showMe">2. Hello World!!</p>

    <p ng-if="ctrl.loggedIn">Hello User</p>

    <p ng-if="ctrl.loggedIn == false">You are not Login</p>

    <p ng-class="ctrl.myStyleGuide">Hello</p>

    <p ng-class="{'when-logged-in': ctrl.loggedIn}"> Hello</p>

    <a ng-click="ctrl.click()">Click Me</a>

    <input type="text" ng-model="ctrl.userType"/>

    <div ng-switch="ctrl.userType">
        <div ng-switch-when="ADMIN">
            I'm Admin
        </div>
        <div ng-switch-when="USER">
            I'm User
        </div>
        <div ng-switch-default="">
            Default Type
        </div>
    </div>

    Interpolation:
    <div>{{ctrl.userType}}</div>
    ng-bind:
    <div ng-bind="ctrl.userType"></div>
    <div ng-bind-html="ctrl.html"></div>

    <div ng-include=" '/app/navbar.html' "></div>

    <ul>
        <li ng-repeat="item in ctrl.shoppingCart">
            {{item.name}} - {{item.quantity}}
        </li>
    </ul>

    <ul>
        <li ng-repeat="fruit in ctrl.fruits" ng-class="{red: $odd}">
            {{fruit}}
        </li>
    </ul>


</div>

<style>
    .when-logged-in {
        background-color: green;
    }

    .not-logged-in {
        background-color: red;
    }

    .red {

        background-color: red

    }

</style>

<!--Place JS scripts after this line-->
<!--BOWER_COMPONENTS_JS_START-->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--BOWER_COMPONENTS_JS_END-->
<!--CUSTOM_JS_START-->
<script type="text/javascript" src="/app/app.js"></script>
<!--CUSTOM_JS_END-->
</body>
</html>